@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


:root {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

.container {
    display: grid;
    /* grid-template-columns: 300px 1fr; */
    grid-template-rows: 100px 1fr;
}

.header {
    grid-area: 1 / 2 / 2 / 3;
    box-shadow: 0px 1px 3px gray;
    z-index: 1;
}

.sidebar {
    grid-column: 1 / 1 / 2 / 3;
    grid-row: 1 / 3;
    background-color: dodgerblue;
    color: white;
}

.sidebar > .grid {
    border: solid;
    border-width: 0px;
    border-radius: 1px;
    box-shadow: none;
    background-color: dodgerblue;
    color: white;
}

.cardContainer{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 1fr;
    grid-area: 2 / 2 / 3 / 3;
    gap: 10px;
    background-color: #eeeeee;
    padding: 10px;
}

.cardGrid {
    grid-area: 1 / 1 / 3 / 2;
}

.announcementsGrid {
    grid-area: 1 / 2 / 2 / 3;

}

.activityGrid {
    grid-area: 2 / 2 / 3 / 3;
}

.cardGrid,
.announcementsGrid,
.activityGrid {
    display: grid;
    gap: 10px;
    padding: 10px;
}

.cardGrid > .grid {

}

.announcementsGrid > .grid {

}

.activityGrid > .grid {

}

.grid {
    font-size: medium;
    display: grid;
    background-color: white;
    border: solid;
    border-radius: 12px;
    box-shadow: 1px 2px 2px gray;
    padding: 10px;
}

.sectionTitle {
    font-size: large;
    font-weight: bold;
}

.iconArea > img {
    width: 2rem;
    height: 2rem;
}